svg {
	overflow: visible !important;
}

.annotation-arrow {
	stroke: #000;
	stroke-width: 1;
	fill: none;
}

.annotation-text {
	position: absolute;
	display: inline-block;
	font-size: 11px;
	color: #333;
	max-width: 150px;
    width: 100%;
}

path {
	fill: none;
}